__pycache__/
.git/
.github/
.idea/
.mypy_cache
.pre-commit-trivy-cache/
.pyre/
.ruff_cache/
.tmp/
.venv/
docker/
kubernetes/
log/
scripts/
.coverage
.dockerignore
.env
.gitignore
.pre-commit-config.yaml
.pyre_configuration
.shellcheckrc
.watchmanconfig
.yamllint.yaml
sample.env
Makefile
